locales/locales.ts
**/__tests__/**
.eslintrc.js
definitions/*
src/react-app-env.d.ts
Dangerfile.ts
src/reportWebVitals.ts
index.d.ts
**/generated/**
openApi/scripts/api-b4f-onboarding_fixPreGen.js
openApi/scripts/api-b4f-onboarding_fixPostGen.js